<a href="https://colab.research.google.com/github/AkhzarFarhan/Data-Mining/blob/master/DM_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing pandas and numpy library**

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.DataFrame({"BuffTail": [10, 1, 37, 5, 12], "GardenBee": [8, 3, 19, 6, 4], "RedTail": [18, 9, 1, 2, 4],
                   "HoneyBee": [12, 13, 16, 9, 10], "CarderBee": [8, 27, 6, 32, 23]},
                  index=["Thistle", "Vipers Bugloss", "Golden Rain", "Yellow Alfalfa", "Blackberry"])

In [14]:
matrix = np.array(df)
matrix

array([[10,  8,  8, 12, 18],
       [ 1, 27,  3, 13,  9],
       [37,  6, 19, 16,  1],
       [ 5, 32,  6,  9,  2],
       [12, 23,  4, 10,  4]])

**DataFrame looks like this:**

In [10]:
df

                BuffTail  CarderBee  GardenBee  HoneyBee  RedTail
Thistle               10          8          8        12       18
Vipers Bugloss         1         27          3        13        9
Golden Rain           37          6         19        16        1
Yellow Alfalfa         5         32          6         9        2
Blackberry            12         23          4        10        4

In [11]:
df.loc["Blackberry"]

BuffTail     12
CarderBee    23
GardenBee     4
HoneyBee     10
RedTail       4
Name: Blackberry, dtype: int64

In [12]:
df.loc[["Golden Rain", "Yellow Alfalfa"]]

                BuffTail  CarderBee  GardenBee  HoneyBee  RedTail
Golden Rain           37          6         19        16        1
Yellow Alfalfa         5         32          6         9        2

In [13]:
df.loc[:, ['RedTail']]

                RedTail
Thistle              18
Vipers Bugloss        9
Golden Rain           1
Yellow Alfalfa        2
Blackberry            4

In [15]:
df.sort_values(by=['BuffTail'], ascending=False)

                BuffTail  CarderBee  GardenBee  HoneyBee  RedTail
Golden Rain           37          6         19        16        1
Blackberry            12         23          4        10        4
Thistle               10          8          8        12       18
Yellow Alfalfa         5         32          6         9        2
Vipers Bugloss         1         27          3        13        9